body{
    background-color: lightblue;

}

h1{
    color: white;
    text-align: center;
}

p{
    font-family: verdana;
    font-size: 20px;
}
form{
    border: 3px solid black;
    width: 300px;
    padding: 10px;
    margin: auto;
    background-color: white;
}
input[type=text], input[type=password]{
    width: 95%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: none;
    background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus{
    background-color: #ddd;
    outline: none;
}
button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
